html {
  font-size: 62.5%;
  font-family: 'Figtree', sans-serif;
}

/* Box sizing rules */
* {
box-sizing: border-box; 
margin: 0;
padding: 0;
}



h1 {
font-weight: 900;
font-size: 3.2rem;
color: #00473e;
margin-bottom: 5px;
width: 100%;
}

.titulo {
width: 100%;

margin-bottom: 20px;
}

.titulo-item {
display: flex;
justify-content: space-between;


}


p {
margin-top: 8px;
font-size: 1.4rem;
font-weight: 300;
color: #475d5b;
}

label, legend {
display: block;

}

#id {
display: inline-block
}

.container {
margin-bottom: 10px;

}

.texto-formulario {
font-size: 1.8rem;
color: #475d5b;
line-height: 16px;
display: block;
margin-bottom: 15px;
font-weight: 700;
}

.texto-input {
padding: 8px 10px;
width: 100%;
min-height: 42px;
font-size: 1.6rem;
font-weight: 400;
border-radius: 5px;
border: 1px solid #dde3ec;
resize: none;
outline: none;
background-color: #f2f7f5;


}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}


.texto-input:focus {
border-color: #00473e;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

fieldset {
border: 1px solid #dde3ec;
padding:20px;
margin-bottom: 20px;
}

.containerServicio {
  display: flex;
  flex-wrap: wrap;
}

.containerServicio > div {
width: 50%;
padding-right: 20px;
}

div > select {
height:42px ;
}


legend {
font-size: 1.6rem;
color: #475d5b;
font-weight: 400;
}


.flex-3 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  
}
.flex-3 > div {
  

  width: 30%;
  
  }


.button {
 width: 100%;
 height: 42px;
 font-size: 1.6rem;
 border-radius: 5px;
 padding: 8px 10px;
 border: none;
 font-weight: 500;
 background-color: #faae2b;
 color: #00473e;
 cursor: pointer;
}

.calc {
background-color: #00473e;
color: white;
}

input {
  margin-bottom: 15px;
}

.container-flex {
  width: 100%;
  display: inline-flex;
  gap: 6px;

}

.container-flex > div {
  width: 50%;
  
  
}